@model SaborCajabambino.Models.Mesa

@{
	ViewData["Title"] = "Details";
}

<link href="~/css/detailStyle.css" rel="stylesheet" />
<div class="p-0 d-flex justify-content-center align-items-center">
	<div class="card">
		<div class="card-header">
			<span class="badge bg-info my-4 rounded d-flex justify-content-center">
				<h3>Mesa - @Model.IdMesa</h3>
			</span>
		</div>
		<div class="card-body">
			<div class="row">
				<dt class="col-sm-6">
					@Html.DisplayNameFor(model => model.Capacidad)
				</dt>
				<dd class="col-sm-6">
					@Html.DisplayFor(model => model.Capacidad)
				</dd>
				<dt class="col-sm-6">
					@Html.DisplayNameFor(model => model.Ubicacion)
				</dt>
				<dd class="col-sm-6">
					@Html.DisplayFor(model => model.Ubicacion)
				</dd>
				<dt class="col-sm-6">
					@Html.DisplayNameFor(model => model.Estado)
				</dt>
				<dd class="col-sm-6">
					@Html.DisplayFor(model => model.Estado)
				</dd>
				</dl>
			</div>
			<div>
				
				<div>
						<span class="badge badge-status bg-warning">
							<a asp-action="Edit" asp-route-id="@Model?.IdMesa">Editar</a>
						</span>
				</div>
				<div>					
						<span class="badge badge-status bg-warning">
							<a asp-action="Index">Volver a la lista de mesas</a>
						</span>					
				</div>
			</div>
		</div>
	</div>
</div>